@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  /* (10px*100%)/16px = 62.5%
  10px ---- 0
  16px ---- 100
  */
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

p,
a,
h1,
li,
ul {
  transition: all 0.5s ease;
}

body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: #ecf4ff;
  color: #1c1c1c;
  margin: 5rem;
  box-shadow: 0.6rem 0.6rem 0.6rem #0e1d2f;
  border-radius: 2rem;
  padding: 6.4rem;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
  animation: animaTitle 1.5s ease 1s normal forwards;
  opacity: 0;
  transform: translateX(-20rem);
}

.perfil-foto {
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 460px;
  max-width: 13rem;
  max-height: 13rem;
  transition: all 0.5s ease;
}

.titulo {
  margin-left: 1.7rem;
  animation: animaTitle 1.5s ease 1.5s normal forwards;
  opacity: 0;
  transform: translateX(-20rem);
}

.titulo h1 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 3.6rem;
}

.titulo p {
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.titulo a {
  transition: all 0.5s ease;
  filter: grayscale(100%) brightness(80%) blur(0.5px);
}

.titulo a:hover {
  color: #427abe;
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  transform: scale(1.1);
  filter: none;
}

.icones {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 15rem;
  margin-left: 1rem;
  animation: animaTitle 1.5s ease 1.5s normal forwards;
  opacity: 0;
  transform: translateX(-20rem);
}

.icones a {
  width: 3rem;
}

.icones svg {
  transition: all 0.2s ease;
  filter: grayscale(100%) brightness(80%) blur(0.5px);
}

.icones svg:hover {
  fill: #3468a7;
  transform: scale(1.1);
  filter: none;
}

.tema button {
  align-self: flex-end;
  background: #ecf4ff;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  cursor: pointer;
  border: none;
  color: #ffff;
  background-color: #000;
  transition: all 0.2s ease;
  margin-left: 2rem;
  animation: animaTitle 1.5s ease 2s normal forwards;
  opacity: 0;
  transform: translateX(-20rem);
}

.tema button:hover {
  transform: scale(1.1);
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
}

.projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(73, 156, 254, 0.2);
  margin-top: 3.2rem;
  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(16, 16, 16, 0.42);
  padding: 1.5rem;
  animation: animaTitle 1.5s ease 2.5s normal forwards;
  opacity: 0;
  transform: translateX(-20rem);
}

.projetos .projetos-titulo {
  font-size: 3.6rem;
  font-weight: 700;
  animation: piscar 0.7s infinite alternate;
  /* font-weight: bold; */
}

@keyframes piscar {
  0% {
    color: #2b588f;
  }
  50% {
    color: #266cc2;
  }
  100% {
    color: #0073ff;
  }
}
.projetos .projetos-item {
  align-self: flex-start;
  padding: 1rem;
  margin: 1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.projetos .projetos-item:nth-child(2) {
  animation: animaTitle 1.5s ease 3s normal forwards;
  opacity: 0;
  transform: translateX(-20rem);
}

.projetos .projetos-item:nth-child(3) {
  animation: animaTitle 1.5s ease 3.2s normal forwards;
  opacity: 0;
  transform: translateX(-20rem);
}
.projetos .projetos-item:nth-child(4) {
  animation: animaTitle 1.5s ease 3.4s normal forwards;
  opacity: 0;
  transform: translateX(-20rem);
}
.projetos .projetos-item:nth-child(5) {
  animation: animaTitle 1.5s ease 3.6s normal forwards;
  opacity: 0;
  transform: translateX(-20rem);
}
.projetos .projetos-item:nth-child(6) {
  animation: animaTitle 1.5s ease 3.8s normal forwards;
  opacity: 0;
  transform: translateX(-20rem);
}
.projetos .projetos-item:nth-child(7) {
  animation: animaTitle 1.5s ease 4s normal forwards;
  opacity: 0;
  transform: translateX(-20rem);
}
.projetos .projetos-item:hover {
  background-color: rgba(52, 104, 167, 0.3);
}

.projetos a {
  font-size: 20px;
}

.projetos p {
  font-size: 15px;
}

@keyframes animaTitle {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Dark */

.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background-color: #333439;
}

.dark p,
.dark h1,
.dark a {
  color: #f6f6f6;
  fill: #f6f6f6;
}

.dark .icones svg:hover {
  fill: #0073ff;
}

.dark .projetos {
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
}

.dark button {
  background: #f6f6f6;
  color: #000;
}

.dark button:hover {
  background: linear-gradient(230.65deg, #0077ff 27.49%, #9cc8fc 83.19%);
}

.dark .projetos .projetos-titulo {
  animation: piscarDark 0.7s infinite alternate;
  /* font-weight: bold; */
}

@keyframes piscarDark {
  0% {
    color: #0073ff;
  }
  50% {
    color: #004492;
  }
  100% {
    color: #000e1f;
  }
}
@media (max-width: 1224px) {
  .perfil-foto {
    max-width: 10rem;
    max-height: 10rem;
    transition: all 0.5s ease;
  }
  .icones {
    flex-direction: column;
  }
}

@media (max-width: 888px) {
  .perfil-foto {
    display: none;
  }
  .container {
    width: auto;
    margin: 3rem;
  }
  .cabecalho {
    display: flex;
    flex-direction: column;
  }
  .perfil {
    flex-direction: column;
  }
  .titulo {
    margin: 0;
  }
  .icones {
    flex-direction: row;
    width: auto;
  }

  .perfil .titulo p {
    font-size: 1.5rem;
  }

  .perfil .titulo h1 {
    font-size: 2.5rem;
  }

  .icones {
    margin-left: 0;
    margin-right: 1rem;
  }

  .tema{
    text-align: center;
    height: auto;
  }

  .tema button {
    margin-left: 0;
  }

  .projetos ul,
  .projetos li {
    width: auto;
  }
  .projetos {
    display: flex;
  }
}

@media (max-width: 574px) {
  .container {
    padding: 2rem;
    margin: 2rem;
  }
}
